hr {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #f7f7f7, #333, #f7f7f7);
background-image: -moz-linear-gradient(left, #f7f7f7, #333, #f7f7f7);
background-image: -ms-linear-gradient(left, #f7f7f7, #333, #f7f7f7);
background-image: -o-linear-gradient(left, #f7f7f7, #333, #f7f7f7);
}


.navbar-dark {
	background-color: #4D3594;
}

.btn-danger {
	background-color: #E6255C;
}

.btn-outline-danger {
	color: #ff4546;
	border-color: #ff4546;
}

.b1{
	background-color: #674abe;
	min-height: 560px!important;
	color: #fff;
	text-align: center;
	background-image: url(../images/fon-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: #000 0 0 3px;
}


.b2{
	background-color: #f7f7f7;
	min-height: 560px!important;
}

.b3 {
	background-color: #674abe;
	min-height: 560px;
}

.b4 {
	min-height: 470px;
	-webkit-font-smoothing: antialiased;
	background: linear-gradient(-45deg, #674ABE, #563555, #FF4546, #674ABE);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.zl {
	font-size: 2.8rem;
}

.dzh1 {
	color: #fff;
	text-align: center;
	margin: 30px 0;
}

.dzh2 {
	color: #333;
	text-align: center;
	margin: 30px 0;
}

.bZakaz {
	text-decoration: none;
	background-color: #ff4546;
	font-size: 2rem;
	color: #fff;
	padding: 15px 10px;
	border-radius: 6px;
	transition: 0.3s;
	font-family: 'Open Sans H',sans-serif;
	box-shadow: #000 0 0 3px;
	display: block;
}

.bZakaz:hover {
	background-color: #FF6B6B;
	color: #fff;
	text-decoration: none;
}

.bgs {
	background-color: #4D3594;
}

.spisock {
	
}

.spisock ul li {
	float: left;
	color: #fff;
	font-size: 1.65rem;
	font-family: 'Open Sans H',sans-serif;
	list-style-type: none;
	text-shadow: #000 0 0 5px;
}

.spisock ul li:first-child{
	margin-left: 0;
}

.spisock ul li:before{
	content: "✔ ";
	color: #fff;
}

.spisock2 ul li {
	color: #333;
	font-size: 1.3rem;
	font-family: 'Open Sans H',sans-serif;
	list-style-type: none;
}


.spisock2 ul li:before{
	content: "✔ ";
	color: #333;
}

.fastyle {
	width: 35px; 
	padding-left: 50%;
	margin-bottom: 20px;
}

footer {
	background-color: #252525;
	min-height: 200px;
	color: #cdcdcd;
}

.Mfoot {
	color: #cdcdcd;
}

.Mfoot h5 {
	font-weight: 600;
	font-size: 18px;
}

.Mfoot ul {
	-webkit-padding-start: 0px;
}

.Mfoot ul li {
	list-style-type: none;
	margin: 0;
	font-weight: 300;
	font-size: 13px;
}

.Mfoot ul li a{
	color: #cdcdcd;
	transition: .3s;
}

.Mfoot ul li a:hover{
	color: #957fd5;
	text-decoration: none;
}

.Mfoot a{
	color: #cdcdcd;
	transition: .3s;
	opacity: .8;
}

.Mfoot a:hover{
	color: #cdcdcd;
	text-decoration: none;
	opacity: 1;
}

.Mfoot img {
	border: solid 1px #fff;
	border-radius: 6px;
	opacity: .8;
	margin-bottom: 5px;
}

.iconsS {
	color: #fff;
	opacity: .8;
	text-decoration: none;
	margin: 0 10px;
	/*border: solid 1px #fff;
	border-radius: 6px;
	width:57px;
 	height:57px;*/
 	display:block;
 	text-align:center;
 	/*padding: 10px 0;*/
 	transition: 0.3s;
}

.iconsS:hover {
	color: #fff;
	opacity: 1;
	text-decoration: none;
}

.iconsP {
	color: #fff;
	opacity: .8;
	text-decoration: none;
	margin: 0 5px;
 	text-align:center;
}

/*карусель партфолио*/
#reviews{
	position: relative;
}

.reviews-element {
	text-align: center;
	padding: 0 40px;
	font-size: 1.15rem;
}

.darkbackward {
	background: url(../images/dark-arrow.svg);
	background-repeat: no-repeat;
	font-size: 0px;
	position: absolute; 
	left:  -14px; 
	top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    height: 32px;
    width: 32px;
    font: inherit;
}

.darkbackward:hover {
	opacity: 0.8;
}

.darkcnext {
	background: url(../images/dark-arrow.svg);
	background-repeat: no-repeat;
	font-size: 0px;
	position: absolute; 
	right: -14px; 
	top: 45%;
	height: 32px;
  width: 32px;
  font: inherit;
}

.darkcnext:hover {
	opacity: 0.8;
}  

/*end карусель партфолио*/

/*карусель партфолио*/

.carouselp {
	min-height: 470px;
	background-color: #352F47;
	-webkit-font-smoothing: antialiased;
}

/* Основной блок */
.owl-wrapper-outer {
	border-radius: 5px;
	overflow: hidden;
}


#carousel a {
	outline: none;
	text-decoration: none;
}

/* 1 квадратик карусели */
.carousel-element {
	text-align: center;
	font-size: 300%;
	border-radius: 6px;
	background-color: #ebebeb;
	margin: 20px 10px;
	overflow: hidden;
	max-width: 355px;
	box-shadow: 0px 0px 10px 0px #000000;
}

.carousel-element:hover {
	opacity: 0.9;
}

.carousel-element img {
	background-color: #232322;
}

.carouseltext {
	font-family: 'Open Sans H',sans-serif;
}

.carouseltext h4 {
	color: #0f1926;
	font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}

.carouseltext p{
	color: #0f1926;
	font-size: 0.9rem;
    opacity: .5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.3rem;
}

.backward {
	background: url(../images/cd-arrow.svg);
	background-repeat: no-repeat;
	font-size: 0px;
	position: absolute; 
	left:  -14px; 
	top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    height: 32px;
    width: 32px;
    font: inherit;
}

.backward:hover {
	opacity: 0.8;
}

.cnext {
	background: url(../images/cd-arrow.svg);
	background-repeat: no-repeat;
	font-size: 0px;
	position: absolute; 
	right: -14px; 
	top: 45%;
	height: 32px;
  width: 32px;
  font: inherit;
}

.cnext:hover {
	opacity: 0.8;
}



/* Блок с точками */
.owl-pagination {
	text-align: center; /* Выравниваем точки по-середине */
}

/* 1 Точка 
.owl-page {
	width: 10px;
	height: 10px;
	border: 1px solid #777;
	display: inline-block;
	background: white;
	margin: 10px;
	border-radius: 5px;
}
/* Активная точка 
.owl-page.active {
	background: #777;
}
*/


#registr { /* вся форма */
  max-width: 400px;
  padding: 2%;
  border-radius: 3px;
  color: #fff;
  
}
#registr label { /* наименование полей */
  float: left;
  display: block;
  clear: right;
}
#registr .w100 { /* поля */
  
  max-width: 400px;
  width: 100%;
  margin-bottom: 1em;
  padding: 1.5%;
}
#registr .border { /* граница полей */
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  box-shadow: 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.1) inset;
}
#registr .border:focus {
  outline: none;
  border-color: #abd9f1 #bfe3f7 #bfe3f7;
}
#registr .border:hover {
  border-color: #7eb4ea #97cdea #97cdea;
}
#registr .border:focus::-moz-placeholder { /* убрать при фокусе первоначальный текст поля */
  color: transparent;
}
#registr .border:focus::-webkit-input-placeholder {
  color: transparent;
}
#registr .border:not(:focus):not(:hover):valid { /* правильно заполненные поля */
  opacity: .8;
}

#registr br {
  height: 0;
  clear: both;
}



#feedback-form { /* вся форма */
  max-width: 400px;
  padding: 2%;
  border-radius: 3px;
  color: #fff;
  
}
#feedback-form label { /* наименование полей */
  float: left;
  display: block;
  clear: right;
}
#feedback-form .w100 { /* поля */
  
  max-width: 400px;
  width: 100%;
  margin-bottom: 1em;
  padding: 1.5%;
}
#feedback-form .border { /* граница полей */
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  box-shadow: 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.1) inset;
}
#feedback-form .border:focus {
  outline: none;
  border-color: #abd9f1 #bfe3f7 #bfe3f7;
}
#feedback-form .border:hover {
  border-color: #7eb4ea #97cdea #97cdea;
}
#feedback-form .border:focus::-moz-placeholder { /* убрать при фокусе первоначальный текст поля */
  color: transparent;
}
#feedback-form .border:focus::-webkit-input-placeholder {
  color: transparent;
}
#feedback-form .border:not(:focus):not(:hover):valid { /* правильно заполненные поля */
  opacity: .8;
}
#submitFF { /* кнопка "Отправить" */
  height: 60px; 
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
  background: #ff4546;
  color: #fff;
  font-size: 1.8rem;
  transition: 0.3s;
  max-width: 400px;
  width: 100%;
  
}
#feedback-form br {
  height: 0;
  clear: both;
}
#submitFF:hover {
  background: #FF6B6B;
  cursor: pointer;
}
#submitFF:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}

#infoblock {
	color: #fff; 
	text-align: center; 
	max-width: 400px;
	overflow: hidden;
	border-radius: 3px;
}

.checkbox {
	width: 20px;             
	height: 20px;  
	margin-right: 10px; 
}

.confidenty {
	font-size: 1rem;
	padding: 10px 0;
}

 
/* анимация шапки*/
.expandUp{
    animation-name: expandUp;
    -webkit-animation-name: expandUp;   
 
    animation-duration: 0.7s;   
    -webkit-animation-duration: 0.7s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;        
 
    visibility: visible !important; 
}
 
@keyframes expandUp {
    0% {
        transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60%{
        transform: translateY(-7%) scaleY(1.12);
    }
    75%{
        transform: translateY(3%);
    }   
    100% {
        transform: translateY(0%) scale(1) scaleY(1);
    }   
}
 
@-webkit-keyframes expandUp {
    0% {
        -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60%{
        -webkit-transform: translateY(-7%) scaleY(1.12);
    }
    75%{
        -webkit-transform: translateY(3%);
    }   
    100% {
        -webkit-transform: translateY(0%) scale(1) scaleY(1);
    }   
}
/*END анимация шапки*/